// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/* Copyright (C) 2024 Toradex */

#include <dt-bindings/net/ti-dp83867.h>
#include "imx8mp.dtsi"

/ {
	aliases {
		ethernet0 = &eqos;
		ethernet1 = &fec;
		serial0 = &uart1;
		serial1 = &uart4;
		serial2 = &uart2;
		serial3 = &uart3;
	};

	chosen {
		stdout-path = &uart4;
	};
};

&A53_0 {
	cpu-supply = <&reg_vdd_arm>;
};

&A53_1 {
	cpu-supply = <&reg_vdd_arm>;
};

&A53_2 {
	cpu-supply = <&reg_vdd_arm>;
};

&A53_3 {
	cpu-supply = <&reg_vdd_arm>;
};

/* SMARC GBE0 */
&eqos {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_eqos>, <&pinctrl_eqos_1588_event>;
	phy-handle = <&eqos_phy>;
	phy-mode = "rgmii-id";
	snps,force_thresh_dma_mode;
	snps,mtl-rx-config = <&mtl_rx_setup>;
	snps,mtl-tx-config = <&mtl_tx_setup>;

	mdio: mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;
	};

	mtl_rx_setup: rx-queues-config {
		snps,rx-queues-to-use = <5>;

		queue0 {
			snps,dcb-algorithm;
			snps,priority = <0x1>;
			snps,map-to-dma-channel = <0>;
		};

		queue1 {
			snps,dcb-algorithm;
			snps,priority = <0x2>;
			snps,map-to-dma-channel = <1>;
		};

		queue2 {
			snps,dcb-algorithm;
			snps,priority = <0x4>;
			snps,map-to-dma-channel = <2>;
		};

		queue3 {
			snps,dcb-algorithm;
			snps,priority = <0x8>;
			snps,map-to-dma-channel = <3>;
		};

		queue4 {
			snps,dcb-algorithm;
			snps,priority = <0xf0>;
			snps,map-to-dma-channel = <4>;
		};
	};

	mtl_tx_setup: tx-queues-config {
		snps,tx-queues-to-use = <5>;

		queue0 {
			snps,dcb-algorithm;
			snps,priority = <0x1>;
		};

		queue1 {
			snps,dcb-algorithm;
			snps,priority = <0x2>;
		};

		queue2 {
			snps,dcb-algorithm;
			snps,priority = <0x4>;
		};

		queue3 {
			snps,dcb-algorithm;
			snps,priority = <0x8>;
		};

		queue4 {
			snps,dcb-algorithm;
			snps,priority = <0xf0>;
		};
	};
};

/* SMARC GBE1 */
&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec>, <&pinctrl_fec_1588_event>;
	phy-handle = <&fec_phy>;
	phy-mode = "rgmii-id";
	fsl,magic-packet;
};

/* On-module I2C */
&i2c1 {
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c1>;
	pinctrl-1 = <&pinctrl_i2c1_gpio>;
	clock-frequency = <400000>;
	scl-gpios = <&gpio5 14 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio5 15 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	status = "okay";

	pca9450: pmic@25 {
		compatible = "nxp,pca9450c";
		reg = <0x25>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pmic>;
		interrupt-parent = <&gpio1>;
		interrupts = <3 IRQ_TYPE_LEVEL_LOW>;

		regulators {
			BUCK1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <1000000>;
				regulator-min-microvolt = <805000>;
				regulator-name = "+VDD_SOC (PMIC BUCK1)";
				regulator-ramp-delay = <3125>;
			};

			reg_vdd_arm: BUCK2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <1000000>;
				regulator-min-microvolt = <805000>;
				regulator-name = "+VDD_ARM (PMIC BUCK2)";
				regulator-ramp-delay = <3125>;
				nxp,dvs-run-voltage = <950000>;
				nxp,dvs-standby-voltage = <850000>;
			};

			reg_3v3: BUCK4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <3300000>;
				regulator-min-microvolt = <3300000>;
				regulator-name = "+V3.3 (PMIC BUCK4)";
			};

			reg_1v8: BUCK5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <1800000>;
				regulator-min-microvolt = <1800000>;
				regulator-name = "+V1.8 (PMIC BUCK5)";
			};

			BUCK6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <1155000>;
				regulator-min-microvolt = <1045000>;
				regulator-name = "+VDD_DDR (PMIC BUCK6)";
			};

			LDO1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <1950000>;
				regulator-min-microvolt = <1710000>;
				regulator-name = "+V1.8_SNVS (PMIC LDO1)";
			};

			LDO3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <1800000>;
				regulator-min-microvolt = <1800000>;
				regulator-name = "+V1.8A (PMIC LDO3)";
			};

			LDO4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-max-microvolt = <3300000>;
				regulator-min-microvolt = <3300000>;
				regulator-name = "+V3.3_ADC (PMIC LDO4)";
			};

			reg_sd_3v3_1v8: LDO5 {
				regulator-max-microvolt = <3300000>;
				regulator-min-microvolt = <1800000>;
				regulator-name = "+V3.3_1.8_SD (PMIC LDO5)";
			};
		};
	};
};

&mdio {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_eth_mdio>;

	eqos_phy: ethernet-phy@1 {
		reg = <1>;
		interrupt-parent = <&gpio3>;
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
	};

	fec_phy: ethernet-phy@2 {
		reg = <2>;
		interrupt-parent = <&gpio3>;
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
	};
};

/* SMARC SER0 */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
};

/* SMARC SER2 */
&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
};

/* SMARC SER3 */
&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
};

/* SMARC SER1, used as the Linux Console */
&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
};

/* On-module eMMC */
&usdhc3 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc3>;
	pinctrl-1 = <&pinctrl_usdhc3_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc3_200mhz>;
	assigned-clocks = <&clk IMX8MP_CLK_USDHC3_ROOT>;
	assigned-clock-rates = <400000000>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

&iomuxc {
	/* ETH_0 RGMII (On-module PHY) */
	pinctrl_eqos: eqosgrp {
		fsl,pins = <MX8MP_IOMUXC_ENET_RD0__ENET_QOS_RGMII_RD0			0x90>, /* (AG29) ETH0_RGMII_RXD0 */
			   <MX8MP_IOMUXC_ENET_RD1__ENET_QOS_RGMII_RD1			0x90>, /* (AG28) ETH0_RGMII_RXD1 */
			   <MX8MP_IOMUXC_ENET_RD2__ENET_QOS_RGMII_RD2			0x90>, /* (AF29) ETH0_RGMII_RXD2 */
			   <MX8MP_IOMUXC_ENET_RD3__ENET_QOS_RGMII_RD3			0x90>, /* (AF28) ETH0_RGMII_RXD3 */
			   <MX8MP_IOMUXC_ENET_RXC__CCM_ENET_QOS_CLOCK_GENERATE_RX_CLK	0x90>, /* (AE29) ETH0_RGMII_RXC */
			   <MX8MP_IOMUXC_ENET_RX_CTL__ENET_QOS_RGMII_RX_CTL		0x90>, /* (AE28) ETH0_RGMII_RX_CTL */
			   <MX8MP_IOMUXC_ENET_TD0__ENET_QOS_RGMII_TD0			0x16>, /* (AC25) ETH0_RGMII_TXD0 */
			   <MX8MP_IOMUXC_ENET_TD1__ENET_QOS_RGMII_TD1			0x16>, /* (AE26) ETH0_RGMII_TXD1 */
			   <MX8MP_IOMUXC_ENET_TD2__ENET_QOS_RGMII_TD2			0x16>, /* (AF26) ETH0_RGMII_TXD2 */
			   <MX8MP_IOMUXC_ENET_TD3__ENET_QOS_RGMII_TD3			0x16>, /* (AD24) ETH0_RGMII_TXD3 */
			   <MX8MP_IOMUXC_ENET_TX_CTL__ENET_QOS_RGMII_TX_CTL		0x16>, /* (AF24) ETH0_RGMII_TX_CTL */
			   <MX8MP_IOMUXC_ENET_TXC__CCM_ENET_QOS_CLOCK_GENERATE_TX_CLK	0x16>; /* (AE24) ETH0_RGMII_TXC */
	};

	/* SMARC GBE0_SDP */
	pinctrl_eqos_1588_event: eqos1588eventgrp {
		fsl,pins = <MX8MP_IOMUXC_GPIO1_IO09__ENET_QOS_1588_EVENT0_OUT	0x4>; /* (B8) ETH_0_EVENT_OUT */ /* SMARC P6 */
	};

	/* ETH_0_MDIO and ETH_0_INT# shared between ETH_PHY0 and ETH_PHY1 */
	pinctrl_eth_mdio: ethmdiogrp {
		fsl,pins = <MX8MP_IOMUXC_ENET_MDC__ENET_QOS_MDC			0x2>, /* (AH28) ETH_0_MDC */
			   <MX8MP_IOMUXC_ENET_MDIO__ENET_QOS_MDIO		0x2>, /* (AH29) ETH_0_MDIO */
			   <MX8MP_IOMUXC_NAND_ALE__GPIO3_IO00			0x80>; /* (N25) ETH_0_INT# */
	};

	/* ETH_1 RGMII (On-module PHY) */
	pinctrl_fec: fecgrp {
		fsl,pins = <MX8MP_IOMUXC_SAI1_RXD4__ENET1_RGMII_RD0		0x90>, /* (AD10) ETH1_RGMII_RXD0 */
			   <MX8MP_IOMUXC_SAI1_RXD5__ENET1_RGMII_RD1		0x90>, /* (AF10) ETH1_RGMII_RXD1 */
			   <MX8MP_IOMUXC_SAI1_RXD6__ENET1_RGMII_RD2		0x90>, /* (AH10) ETH1_RGMII_RXD2 */
			   <MX8MP_IOMUXC_SAI1_RXD7__ENET1_RGMII_RD3		0x90>, /* (AH12) ETH1_RGMII_RXD3 */
			   <MX8MP_IOMUXC_SAI1_TXC__ENET1_RGMII_RXC		0x90>, /* (AJ12) ETH1_RGMII_RXC */
			   <MX8MP_IOMUXC_SAI1_TXFS__ENET1_RGMII_RX_CTL		0x90>, /* (AF12) ETH1_RGMII_RX_CTL */
			   <MX8MP_IOMUXC_SAI1_TXD0__ENET1_RGMII_TD0		0x16>, /* (AJ11) ETH1_RGMII_TXD0 */
			   <MX8MP_IOMUXC_SAI1_TXD1__ENET1_RGMII_TD1		0x16>, /* (AJ10) ETH1_RGMII_TXD1 */
			   <MX8MP_IOMUXC_SAI1_TXD2__ENET1_RGMII_TD2		0x16>, /* (AH11) ETH1_RGMII_TXD2 */
			   <MX8MP_IOMUXC_SAI1_TXD3__ENET1_RGMII_TD3		0x16>, /* (AD12) ETH1_RGMII_TXD3 */
			   <MX8MP_IOMUXC_SAI1_TXD4__ENET1_RGMII_TX_CTL		0x16>, /* (AH13) ETH1_RGMII_TX_CTL */
			   <MX8MP_IOMUXC_SAI1_TXD5__ENET1_RGMII_TXC		0x16>; /* (AH14) ETH1_RGMII_TXC */
	};

	/* SMARC GBE1_SDP */
	pinctrl_fec_1588_event: fec1588eventgrp {
		fsl,pins = <MX8MP_IOMUXC_SAI1_RXC__ENET1_1588_EVENT0_OUT	0x4>; /* (AH8) ETH_1_EVENT_OUT */ /* SMARC P5 */
	};

	/* On-module I2C */
	pinctrl_i2c1: i2c1grp {
		fsl,pins = <MX8MP_IOMUXC_I2C1_SCL__I2C1_SCL		0x400001c6>, /* (AC8) CTRL_I2C_SCL */
			   <MX8MP_IOMUXC_I2C1_SDA__I2C1_SDA		0x400001c6>; /* (AH7) CTRL_I2C_SDA */
	};

	/* On-module I2C */
	pinctrl_i2c1_gpio: i2c1gpiogrp {
		fsl,pins = <MX8MP_IOMUXC_I2C1_SCL__GPIO5_IO14		0x400001c6>, /* (AC8) CTRL_I2C_SCL */
			   <MX8MP_IOMUXC_I2C1_SDA__GPIO5_IO15		0x400001c6>; /* (AH7) CTRL_I2C_SDA */
	};

	/* PMIC Interrupt */
	pinctrl_pmic: pmicintgrp {
		fsl,pins = <MX8MP_IOMUXC_GPIO1_IO03__GPIO1_IO03		0x1c4>; /* (D6) PMIC_INT# */
	};

	/* SMARC SER0 */
	pinctrl_uart1: uart1grp {
		fsl,pins = <MX8MP_IOMUXC_SAI2_RXD0__UART1_DCE_RTS	0x1c4>, /* (AJ14) SER2_CTS */ /* SMARC P132 */
			   <MX8MP_IOMUXC_SAI2_TXFS__UART1_DCE_CTS	0x1c4>, /* (AJ17) SER2_RTS */ /* SMARC P131 */
			   <MX8MP_IOMUXC_UART1_RXD__UART1_DCE_RX	0x1c4>, /* (AD6) SER2_RX */ /* SMARC P130 */
			   <MX8MP_IOMUXC_UART1_TXD__UART1_DCE_TX	0x1c4>; /* (AJ3) SER2_TX */ /* SMARC P129 */
	};

	/* SMARC SER2 */
	pinctrl_uart2: uart2grp {
		fsl,pins = <MX8MP_IOMUXC_SD1_DATA4__UART2_DCE_RTS	0x1c4>, /* (U26) SER2_CTS */ /* SMARC P139 */
			   <MX8MP_IOMUXC_SD1_DATA5__UART2_DCE_CTS	0x1c4>, /* (AA29) SER2_RTS */ /* SMARC P138 */
			   <MX8MP_IOMUXC_UART2_RXD__UART2_DCE_RX	0x1c4>, /* (AF6) SER2_RX */ /* SMARC P137 */
			   <MX8MP_IOMUXC_UART2_TXD__UART2_DCE_TX	0x1c4>; /* (AH4) SER2_TX */ /* SMARC P136 */
	};

	/* SMARC SER3 */
	pinctrl_uart3: uart3grp {
		fsl,pins = <MX8MP_IOMUXC_UART3_RXD__UART3_DCE_RX	0x1c4>, /* (AF6) SER3_RX */ /* SMARC P141 */
			   <MX8MP_IOMUXC_UART3_TXD__UART3_DCE_TX	0x1c4>; /* (AJ4) SER3_TX */ /* SMARC P140 */
	};

	/* SMARC SER1 */
	pinctrl_uart4: uart4grp {
		fsl,pins = <MX8MP_IOMUXC_UART4_RXD__UART4_DCE_RX	0x1c4>, /* (AJ15) SER1_RX */ /* SMARC P135 */
			   <MX8MP_IOMUXC_UART4_TXD__UART4_DCE_TX	0x1c4>; /* (AH15) SER1_TX */ /* SMARC P134 */
	};

	/* On-module eMMC */
	pinctrl_usdhc3: usdhc3grp {
		fsl,pins = <MX8MP_IOMUXC_NAND_CE1_B__USDHC3_STROBE	0x190>, /* (T29) eMMC_STROBE */
			   <MX8MP_IOMUXC_NAND_CE2_B__USDHC3_DATA5	0x1d0>, /* (P28) eMMC_DATA5 */
			   <MX8MP_IOMUXC_NAND_CE3_B__USDHC3_DATA6	0x1d0>, /* (N28) eMMC_DATA6 */
			   <MX8MP_IOMUXC_NAND_CLE__USDHC3_DATA7		0x1d0>, /* (M28) eMMC_DATA7 */
			   <MX8MP_IOMUXC_NAND_DATA04__USDHC3_DATA0	0x1d0>, /* (P29) eMMC_DATA0 */
			   <MX8MP_IOMUXC_NAND_DATA05__USDHC3_DATA1	0x1d0>, /* (N20) eMMC_DATA1 */
			   <MX8MP_IOMUXC_NAND_DATA06__USDHC3_DATA2	0x1d0>, /* (M29) eMMC_DATA2 */
			   <MX8MP_IOMUXC_NAND_DATA07__USDHC3_DATA3	0x1d0>, /* (R29) eMMC_DATA3 */
			   <MX8MP_IOMUXC_NAND_RE_B__USDHC3_DATA4	0x1d0>, /* (R28) eMMC_DATA4 */
			   <MX8MP_IOMUXC_NAND_WE_B__USDHC3_CLK		0x190>, /* (U28) eMMC_CLK */
			   <MX8MP_IOMUXC_NAND_WP_B__USDHC3_CMD		0x1d0>; /* (U29) eMMC_CMD */
	};

	/* On-module eMMC */
	pinctrl_usdhc3_100mhz: usdhc3-100mhzgrp {
		fsl,pins = <MX8MP_IOMUXC_NAND_CE1_B__USDHC3_STROBE	0x194>, /* (T29) eMMC_STROBE */
			   <MX8MP_IOMUXC_NAND_CE2_B__USDHC3_DATA5	0x1d4>, /* (P28) eMMC_DATA5 */
			   <MX8MP_IOMUXC_NAND_CE3_B__USDHC3_DATA6	0x1d4>, /* (N28) eMMC_DATA6 */
			   <MX8MP_IOMUXC_NAND_CLE__USDHC3_DATA7		0x1d4>, /* (M28) eMMC_DATA7 */
			   <MX8MP_IOMUXC_NAND_DATA04__USDHC3_DATA0	0x1d4>, /* (P29) eMMC_DATA0 */
			   <MX8MP_IOMUXC_NAND_DATA05__USDHC3_DATA1	0x1d4>, /* (N20) eMMC_DATA1 */
			   <MX8MP_IOMUXC_NAND_DATA06__USDHC3_DATA2	0x1d4>, /* (M29) eMMC_DATA2 */
			   <MX8MP_IOMUXC_NAND_DATA07__USDHC3_DATA3	0x1d4>, /* (R29) eMMC_DATA3 */
			   <MX8MP_IOMUXC_NAND_RE_B__USDHC3_DATA4	0x1d4>, /* (R28) eMMC_DATA4 */
			   <MX8MP_IOMUXC_NAND_WE_B__USDHC3_CLK		0x194>, /* (U28) eMMC_CLK */
			   <MX8MP_IOMUXC_NAND_WP_B__USDHC3_CMD		0x1d4>; /* (U29) eMMC_CMD */
	};

	/* On-module eMMC */
	pinctrl_usdhc3_200mhz: usdhc3-200mhzgrp {
		fsl,pins = <MX8MP_IOMUXC_NAND_CE1_B__USDHC3_STROBE	0x196>, /* (T29) eMMC_STROBE */
			   <MX8MP_IOMUXC_NAND_CE2_B__USDHC3_DATA5	0x1d2>, /* (P28) eMMC_DATA5 */
			   <MX8MP_IOMUXC_NAND_CE3_B__USDHC3_DATA6	0x1d2>, /* (N28) eMMC_DATA6 */
			   <MX8MP_IOMUXC_NAND_CLE__USDHC3_DATA7		0x1d2>, /* (M28) eMMC_DATA7 */
			   <MX8MP_IOMUXC_NAND_DATA04__USDHC3_DATA0	0x1d2>, /* (P29) eMMC_DATA0 */
			   <MX8MP_IOMUXC_NAND_DATA05__USDHC3_DATA1	0x1d2>, /* (N20) eMMC_DATA1 */
			   <MX8MP_IOMUXC_NAND_DATA06__USDHC3_DATA2	0x1d2>, /* (M29) eMMC_DATA2 */
			   <MX8MP_IOMUXC_NAND_DATA07__USDHC3_DATA3	0x1d2>, /* (R29) eMMC_DATA3 */
			   <MX8MP_IOMUXC_NAND_RE_B__USDHC3_DATA4	0x1d2>, /* (R28) eMMC_DATA4 */
			   <MX8MP_IOMUXC_NAND_WE_B__USDHC3_CLK		0x196>, /* (U28) eMMC_CLK */
			   <MX8MP_IOMUXC_NAND_WP_B__USDHC3_CMD		0x1d6>; /* (U29) eMMC_CMD */
	};
};
