// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/* Copyright (C) 2024 Toradex */

/dts-v1/;

#include "imx8mp-toradex-smarc.dtsi"

/ {
	model = "Toradex SMARC iMX8M Plus on Toradex SMARC Development Board";
	compatible = "toradex,smarc-imx8mp-dev",
		     "toradex,smarc-imx8mp",
		     "fsl,imx8mp";
};

/* SMARC GBE0 */
&eqos {
	status = "okay";
};

/* SMARC GBE1 */
&fec {
	status = "okay";
};

/* SMARC SER0, RS485. Optional M.2 KEY E */
&uart1 {
	linux,rs485-enabled-at-boot-time;
	rs485-rts-active-low;
	rs485-rx-during-tx;
	uart-has-rtscts;
	status = "okay";
};

/* SMARC SER2 */
&uart2 {
	uart-has-rtscts;
	status = "okay";
};

/* SMARC SER3, RS232. */
&uart3 {
	status = "okay";
};

/* SMARC SER1, used as the Linux Console */
&uart4 {
	status = "okay";
};

/* SMARC USB0 */
&usb3_0 {
	status = "okay";
};

/* SMARC USB1..4 */
&usb3_1 {
	status = "okay";
};

&usb3_phy0 {
	status = "okay";
};

&usb3_phy1 {
	status = "okay";
};
