// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright 2025 Toradex
 *
 * https://www.toradex.com/computer-on-modules/smarc-arm-family/nxp-imx95
 */

/dts-v1/;

#include "imx95-toradex-smarc.dtsi"

/ {
	model = "Toradex SMARC iMX95 on Toradex SMARC Development Board";
	compatible = "toradex,smarc-imx95-dev",
		     "toradex,smarc-imx95",
		     "fsl,imx95";

	aliases {
		ethernet2 = &enetc_port2;
	};

};

/* SMARC GBE0 */
&enetc_port0 {
	status = "okay";
};

/* SMARC GBE1 */
&enetc_port1 {
	status = "okay";
};

/* SMARC SERDES_0 - ETH2 */
&enetc_port2 {
	phy-handle = <&ethphy3>;
	phy-mode = "sgmii";
	status = "okay";
};

/* SMARC I2C_GP */
&lpi2c2 {
	status = "okay";

	temperature-sensor@4f {
		compatible = "ti,tmp1075";
		reg = <0x4f>;
	};

	eeprom@57 {
		compatible = "st,24c02";
		reg = <0x57>;
		pagesize = <16>;
	};

};

/* SMARC I2C_PM */
&lpi2c3 {
	clock-frequency = <100000>;
	status = "okay";

	fan: fan@18 {
		compatible = "ti,amc6821";
		reg = <0x18>;
		#cooling-cells = <2>;
	};

	/* Current measurement into module VCC */
	hwmon@40 {
		compatible = "ti,ina226";
		reg = <0x40>;
		shunt-resistor = <5000>;
	};
};

/* SMARC I2C_CAM0 */
&lpi2c4 {
	status = "okay";
};

/* SMARC I2C_LCD */
&lpi2c5 {
	status = "okay";
};

/* SMARC I2C_CAM1 */
&lpi2c7 {
	status = "okay";
};

/* SMARC MDIO, shared between all ethernet ports */
&netc_emdio {
	status = "okay";

	ethphy3: ethernet-phy@4 {
		reg = <4>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio7>;
		interrupt-parent = <&gpio5>;
		interrupts = <9 IRQ_TYPE_LEVEL_LOW>;
	};
};

/* SMARC SPI0 */
&lpspi6 {
	status = "okay";
};

/* SMARC SER1, used as the Linux Console */
&lpuart1 {
	status = "okay";
};
