// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright (C) 2025 Toradex
 *
 * https://www.toradex.com/computer-on-modules/aquila-arm-family/nxp-imx95
 * https://www.toradex.com/products/carrier-board/aquila-development-board-kit
 */

/dts-v1/;

#include <dt-bindings/usb/pd.h>
#include "imx95-aquila.dtsi"

/ {
	model = "Aquila iMX95 on Aquila Development Board";
	compatible = "toradex,aquila-imx95-dev",
		     "toradex,aquila-imx95",
		     "fsl,imx95";
};

/* Aquila ETH_1 */
&enetc_port0 {
	status = "okay";
};

/* Aquila ETH_2_XGMII */
&enetc_port2 {
	phy-handle = <&ethphy2>;
	phy-mode = "sgmii";
	status = "okay";
};

/* Aquila I2C_1 */
&lpi2c2 {
	status = "okay";

	/* USB-C OTG (TCPC USB PD PHY) */
	tcpc@52 {
		compatible = "nxp,ptn5110", "tcpci";
		reg = <0x52>;
		interrupt-parent = <&som_gpio_expander_1>;
		interrupts = <5 IRQ_TYPE_EDGE_FALLING>;

		connector {
			compatible = "usb-c-connector";
			label = "USB-C OTG";
			data-role = "dual";
			power-role = "dual";
			try-power-role = "sink";
			self-powered;
			source-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;
			sink-pdos = <PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;
			op-sink-microwatt = <1000000>;

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;

					typec_con_hs: endpoint {
						remote-endpoint = <&usb1_con_hs>;
					};
				};

				port@1 {
					reg = <1>;

					typec_con_ss: endpoint {
						remote-endpoint = <&usb1_con_ss>;
					};
				};
			};
		};
	};
};

/* Aquila I2C_2 */
&i3c2 {
	status = "okay";
};

/* Aquila I2C_4_CSI1 */
&lpi2c4 {
	status = "okay";
};

/* Aquila I2C_6 */
&lpi2c5 {
	status = "okay";
};

/* Aquila I2C_3_DSI1/I2C_5_CSI2 */
&lpi2c8 {
	status = "okay";
};

/* Aquila SPI_1 */
&lpspi6 {
	status = "okay";
};

/* Aquila UART_3, used as the Linux Console */
&lpuart1 {
	status = "okay";
};

/* Aquila ETH_2_XGMII_MDIO, shared between all ethernet ports */
&netc_emdio {
	status = "okay";

	ethphy2: ethernet-phy@4 {
		reg = <4>;
		interrupt-parent = <&som_gpio_expander_1>;
		interrupts = <8 IRQ_TYPE_EDGE_FALLING>;
	};
};

/* Aquila USB_2, optional Bluetooth USB */
&usb2 {
	status = "okay";
};

/* Aquila USB_1 */
&usb3 {
	status = "okay";
};

&usb3_dwc3 {
	status = "okay";

	port {
		usb1_con_hs: endpoint {
			remote-endpoint = <&typec_con_hs>;
		};
	};
};

&usb3_phy {
	orientation-switch;
	status = "okay";

	port {
		usb1_con_ss: endpoint {
			remote-endpoint = <&typec_con_ss>;
		};
	};
};

/* Aquila SD_1 */
&usdhc2 {
	status = "okay";
};
