// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright (C) 2025 Toradex
 *
 * https://www.toradex.com/computer-on-modules/aquila-arm-family/nxp-imx95
 */

#include <dt-bindings/net/ti-dp83867.h>
#include "imx95.dtsi"

/ {
	aliases {
		eeprom0 = &som_eeprom;
		ethernet0 = &enetc_port0;
		ethernet1 = &enetc_port2;
		i2c0 = &lpi2c3;
		i2c1 = &lpi2c2;
		i2c2 = &i3c2;
		i2c3 = &lpi2c8;
		i2c4 = &lpi2c4;
		i2c6 = &lpi2c5;
		mmc0 = &usdhc1;
		mmc1 = &usdhc2;
		rtc0 = &rtc_i2c;
		serial2 = &lpuart1;
	};

	chosen {
		stdout-path = "serial2:115200n8";
	};

	clk_serdes_eth_ref: clock-serdes-eth-ref {
		compatible = "gpio-gate-clock";
		#clock-cells = <0>;
		/* CTRL_ETH_REF_CLK_STBY# */
		enable-gpios = <&som_gpio_expander_0 6 GPIO_ACTIVE_HIGH>;
	};

	reg_vref_1p8v: regulator-vref-1p8v {
		compatible = "regulator-fixed";
		regulator-max-microvolt = <1800000>;
		regulator-min-microvolt = <1800000>;
		regulator-name = "VREF_V1.8";
	};

	reg_usdhc2_vmmc: regulator-usdhc2-vmmc {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_sd1_pwr_en>;
		/* SD_1_PWR_EN */
		gpios = <&gpio3 7 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		off-on-delay-us = <100000>;
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <3300000>;
		regulator-name = "SD_1_PWR_EN";
		startup-delay-us = <20000>;
	};

	reg_usdhc2_vqmmc: regulator-usdhc2-vqmmc {
		compatible = "regulator-gpio";
		/* PMIC_SD_1_VSEL */
		gpios = <&som_gpio_expander_1 9 GPIO_ACTIVE_HIGH>;
		regulator-max-microvolt = <3300000>;
		regulator-min-microvolt = <1800000>;
		regulator-name = "PMIC_SD_1_VSEL";
		states = <1800000 0x1>,
			 <3300000 0x0>;
	};

	reg_usb1_vbus: regulator-usb1-vbus {
		compatible = "regulator-fixed";
		/* USB_1_EN */
		gpios = <&som_gpio_expander_0 2 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-name = "USB_1_EN";
	};

	reg_usb2_vbus: regulator-usb2-vbus {
		compatible = "regulator-fixed";
		/* USB_2_H_EN */
		gpios = <&som_gpio_expander_0 3 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-name = "USB_2_H_EN";
	};
};

/* Aquila ADC_[1-4] */
&adc1 {
	vref-supply = <&reg_vref_1p8v>;
	status = "okay";
};

/* Aquila ETH_1 */
&enetc_port0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enetc0>;
	phy-handle = <&ethphy1>;
	phy-mode = "rgmii-id";
};

/* Aquila ETH_2_XGMII */
&enetc_port2 {
	clocks = <&clk_serdes_eth_ref>;
	clock-names = "enet_ref_clk";
};

&gpio1 {
	gpio-line-names = "", /* 0 */
			  "",
			  "",
			  "",
			  "",
			  "",
			  "",
			  "",
			  "",
			  "",
			  "", /* 10 */
			  "",
			  "",
			  "CTRL_GPIO_EXP_INT#";
	status = "okay";
};

/* Aquila I2C_2 */
&i3c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i3c2>;
	i2c-scl-hz = <100000>;
};

/* Aquila I2C_1 */
&lpi2c2 {
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_lpi2c2>;
	pinctrl-1 = <&pinctrl_lpi2c2_gpio>;
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <100000>;
	scl-gpios = <&gpio1 2 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio1 3 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
};

/* On-module I2C - I2C_SOM */
&lpi2c3 {
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_lpi2c3>, <&pinctrl_ctrl_gpio_exp_int>;
	pinctrl-1 = <&pinctrl_lpi2c3_gpio>, <&pinctrl_ctrl_gpio_exp_int>;
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	scl-gpios = <&gpio2 29 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio2 28 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	status = "okay";

	som_gpio_expander_0: gpio@20 {
		compatible = "nxp,pcal6408";
		reg = <0x20>;
		#gpio-cells = <2>;
		gpio-controller;
		gpio-line-names =
			"PCIE_1_RESET#", /* 0 */
			"PCIE_2_RESET#",
			"USB_1_EN",
			"USB_2_H_EN",
			"BT_DISABLE#",
			"WIFI_DISABLE#",
			"CTRL_ETH_REF_CLK_STBY",
			"CTRL_DP_BRIDGE_EN";
	};

	som_gpio_expander_1: gpio@21 {
		compatible = "nxp,pcal6416";
		reg = <0x21>;
		#interrupt-cells = <2>;
		interrupt-controller;
		interrupt-parent = <&gpio1>;
		interrupts = <13 IRQ_TYPE_LEVEL_LOW>;
		#gpio-cells = <2>;
		gpio-controller;
		gpio-line-names =
			"GPIO_13_CSI_2", /* 0 */
			"GPIO_14_CSI_2",
			"GPIO_15_CSI_2",
			"GPIO_16_CSI_2",
			"PCIE_WAKE#",
			"USB_1_INT#",
			"USB_1_OC#",
			"USB_2_H_OC#",
			"ETH_2_XGMII_INT#",
			"PMIC_SD_1_VSEL",
			"ETH_1_INT#", /* 10 */
			"CTRL_TPM_INT#",
			"SPI_2_CS2_TPM",
			"PCIE_WAKE_WIFI#",
			"WIFI_WAKE_BT",
			"WIFI_WAKEUP_HOST";
	};

	rtc_i2c: rtc@32 {
		compatible = "epson,rx8130";
		reg = <0x32>;
	};

	temperature-sensor@48 {
		compatible = "ti,tmp1075";
		reg = <0x48>;
	};

	som_eeprom: eeprom@50 {
		compatible = "st,24c02", "atmel,24c02";
		reg = <0x50>;
		pagesize = <16>;
	};
};

/* Aquila I2C_4_CSI1 */
&lpi2c4 {
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_lpi2c4>;
	pinctrl-1 = <&pinctrl_lpi2c4_gpio>;
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <100000>;
	scl-gpios = <&gpio2 31 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio2 30 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
};

/* Aquila I2C_6 */
&lpi2c5 {
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_lpi2c5>;
	pinctrl-1 = <&pinctrl_lpi2c5_gpio>;
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <100000>;
	scl-gpios = <&gpio2 23 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio2 22 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
};

/* Aquila I2C_3_DSI1/I2C_5_CSI2 */
&lpi2c8 {
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_lpi2c8>;
	pinctrl-1 = <&pinctrl_lpi2c8_gpio>;
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <100000>;
	scl-gpios = <&gpio2 13 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio2 12 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
};

/* Aquila SPI_2 */
&lpspi4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpspi4>;
	cs-gpios = <&gpio2 18 GPIO_ACTIVE_LOW>,
		   <&som_gpio_expander_1 12 GPIO_ACTIVE_LOW>;
	status = "okay";

	som_tpm: tpm@1 {
		compatible = "infineon,slb9670", "tcg,tpm_tis-spi";
		reg = <0x1>;
		interrupt-parent = <&som_gpio_expander_1>;
		interrupts = <11 IRQ_TYPE_EDGE_FALLING>;
		spi-max-frequency = <18500000>;
	};
};

/* Aquila SPI_1 */
&lpspi6 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpspi6>;
	cs-gpios = <&gpio2 0 GPIO_ACTIVE_LOW>;
	status = "disabled";
};

/* Aquila UART_3, used as the Linux Console */
&lpuart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
};

/* Aquila ETH_2_XGMII_MDIO, shared between all ethernet ports */
&netc_emdio {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_emdio>;

	ethphy1: ethernet-phy@1 {
		reg = <1>;
		interrupt-parent = <&som_gpio_expander_1>;
		interrupts = <10 IRQ_TYPE_EDGE_FALLING>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
	};
};

&netc_prb_ierb {
	netc-interfaces = <NXP_NETC_RGMII>,
			  <NXP_NETC_RGMII>,
			  <NXP_NETC_SERIAL>;
};

&netc_timer {
	status = "okay";
};

/* Aquila USB_2, optional Bluetooth USB */
&usb2 {
	dr_mode = "host";
	vbus-supply = <&reg_usb2_vbus>;
};

/* Aquila USB_1 */
&usb3 {
	fsl,disable-port-power-control;
};

&usb3_dwc3 {
	dr_mode = "otg";
	adp-disable;
	hnp-disable;
	srp-disable;
	usb-role-switch;
};

&usb3_phy {
	vbus-supply = <&reg_usb1_vbus>;
};

/* On-module eMMC */
&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	bus-width = <8>;
	non-removable;
	no-sdio;
	no-sd;
	status = "okay";
};

/* Aquila SD_1 */
&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz", "sleep";
	pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_sd1_cd_gpio>;
	pinctrl-1 = <&pinctrl_usdhc2>, <&pinctrl_sd1_cd_gpio>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>,<&pinctrl_sd1_cd_gpio>;
	pinctrl-3 = <&pinctrl_usdhc2_sleep>, <&pinctrl_sd1_cd_gpio>;
	cd-gpios = <&gpio3 0 GPIO_ACTIVE_LOW>;
	vmmc-supply = <&reg_usdhc2_vmmc>;
	vqmmc-supply = <&reg_usdhc2_vqmmc>;
};

&scmi_iomuxc {
	/* Aquila ETH_2_XGMII_MDIO */
	pinctrl_emdio: emdiogrp {
		fsl,pinx = <IMX95_PAD_ENET2_MDC__NETCMIX_TOP_NETC_MDC	0x57e>,
			   <IMX95_PAD_ENET2_MDIO__NETCMIX_TOP_NETC_MDIO	0x97e>;
	};

	/* Aquila ETH_1 */
	pinctrl_enetc0: enetc0grp {
		fsl,pins = <IMX95_PAD_ENET1_TX_CTL__NETCMIX_TOP_ETH0_RGMII_TX_CTL	0x57e>, /* ENET1_TX_CTL */
			   <IMX95_PAD_ENET1_TXC__NETCMIX_TOP_ETH0_RGMII_TX_CLK		0x58e>, /* ENET1_TXC    */
			   <IMX95_PAD_ENET1_TD0__NETCMIX_TOP_ETH0_RGMII_TD0		0x50e>, /* ENET1_TDO    */
			   <IMX95_PAD_ENET1_TD1__NETCMIX_TOP_ETH0_RGMII_TD1		0x50e>, /* ENET1_TD1    */
			   <IMX95_PAD_ENET1_TD2__NETCMIX_TOP_ETH0_RGMII_TD2		0x50e>, /* ENET1_TD2    */
			   <IMX95_PAD_ENET1_TD3__NETCMIX_TOP_ETH0_RGMII_TD3		0x50e>, /* ENET1_TD3    */
			   <IMX95_PAD_ENET1_RX_CTL__NETCMIX_TOP_ETH0_RGMII_RX_CTL	0x57e>, /* ENET1_RX_CTL */
			   <IMX95_PAD_ENET1_RXC__NETCMIX_TOP_ETH0_RGMII_RX_CLK		0x58e>, /* ENET1_RXC    */
			   <IMX95_PAD_ENET1_RD0__NETCMIX_TOP_ETH0_RGMII_RD0		0x57e>, /* ENET1_RD0    */
			   <IMX95_PAD_ENET1_RD1__NETCMIX_TOP_ETH0_RGMII_RD1		0x57e>, /* ENET1_RD1    */
			   <IMX95_PAD_ENET1_RD2__NETCMIX_TOP_ETH0_RGMII_RD2		0x57e>, /* ENET1_RD2    */
			   <IMX95_PAD_ENET1_RD3__NETCMIX_TOP_ETH0_RGMII_RD3		0x57e>; /* ENET1_RD3    */
	};

	pinctrl_ctrl_gpio_exp_int: gpioexpintgrp {
		fsl,pins = <IMX95_PAD_SAI1_TXD0__AONMIX_TOP_GPIO1_IO_BIT13	0x31e>; /* CTRL_GPIO_EXP_INT# */
	};

	/* Aquila I2C_2 */
	pinctrl_i3c2: i3c2cgrp {
		fsl,pins = <IMX95_PAD_ENET1_MDC__I3C2_SCL	0x40001186>, /* I2C_2_SCL */
			   <IMX95_PAD_ENET1_MDIO__I3C2_SDA	0x40001186>; /* I2C_2_SDL */
	};

	/* Aquila I2C_1 */
	pinctrl_lpi2c2: lpi2c2grp {
		fsl,pins = <IMX95_PAD_I2C2_SCL__AONMIX_TOP_LPI2C2_SCL	0x40001b9e>, /* I2C_1_SCL */
			   <IMX95_PAD_I2C2_SDA__AONMIX_TOP_LPI2C2_SDA	0x40001b9e>; /* I2C_1_SDA */
	};

	/* Aquila I2C_1 as GPIOs */
	pinctrl_lpi2c2_gpio: lpi2c2gpiogrp {
		fsl,pins = <IMX95_PAD_I2C2_SCL__AONMIX_TOP_GPIO1_IO_BIT2	0x40001b9e>, /* I2C_1_SCL */
			   <IMX95_PAD_I2C2_SDA__AONMIX_TOP_GPIO1_IO_BIT3	0x40001b9e>; /* I2C_1_SDA */
	};

	/* On-module I2C */
	pinctrl_lpi2c3: lpi2c3grp {
		fsl,pins = <IMX95_PAD_GPIO_IO28__LPI2C3_SDA	0x40001b9e>, /* I2C_SOM_SDA */
			   <IMX95_PAD_GPIO_IO29__LPI2C3_SCL	0x40001b9e>; /* I2C_SOM_SCL */
	};

	/* On-module I2C as GPIOs */
	pinctrl_lpi2c3_gpio: lpi2c3gpiogrp {
		fsl,pins = <IMX95_PAD_GPIO_IO28__GPIO2_IO_BIT28	0x40001b9e>, /* I2C_SOM_SDA */
			   <IMX95_PAD_GPIO_IO29__GPIO2_IO_BIT29	0x40001b9e>; /* I2C_SOM_SCL */
	};

	/* Aquila I2C_4_CSI1 */
	pinctrl_lpi2c4: lpi2c4grp {
		fsl,pins = <IMX95_PAD_GPIO_IO30__LPI2C4_SDA	0x40001b9e>, /* I2C_4_CSI1_SDA */
			   <IMX95_PAD_GPIO_IO31__LPI2C4_SCL	0x40001b9e>; /* I2C_4_CSI1_SCL */
	};

	/* Aquila I2C_4_CSI1 as GPIO */
	pinctrl_lpi2c4_gpio: lpi2c4gpiogrp {
		fsl,pins = <IMX95_PAD_GPIO_IO30__GPIO2_IO_BIT30	0x40001b9e>, /* I2C_4_CSI1_SDA */
			   <IMX95_PAD_GPIO_IO31__GPIO2_IO_BIT31	0x40001b9e>; /* I2C_4_CSI1_SCL */
	};

	/* Aquila I2C_6 */
	pinctrl_lpi2c5: lpi2c5grp {
		fsl,pins = <IMX95_PAD_GPIO_IO22__LPI2C5_SDA	0x40001b9e>, /* I2C_6_SDA */
			   <IMX95_PAD_GPIO_IO23__LPI2C5_SCL	0x40001b9e>; /* I2C_6_SCL */
	};

	/* Aquila I2C_6 as GPIO */
	pinctrl_lpi2c5_gpio: lpi2c5grp {
		fsl,pins = <IMX95_PAD_GPIO_IO22__GPIO2_IO_BIT22	0x40001b9e>, /* I2C_6_SDA */
			   <IMX95_PAD_GPIO_IO23__GPIO2_IO_BIT23	0x40001b9e>; /* I2C_6_SCL */
	};

	/* Aquila I2C_3_DSI1/I2C_5_CSI2 */
	pinctrl_lpi2c8: lpi2c8grp {
		fsl,pins = <IMX95_PAD_GPIO_IO12__LPI2C8_SDA	0x40001b9e>, /* I2C_3_DSI1/I2C_5_CSI2 SDA */
			   <IMX95_PAD_GPIO_IO13__LPI2C8_SCL	0x40001b9e>; /* I2C_3_DSI1/I2C_5_CSI2 SCL */
	};

	/* Aquila I2C_3_DSI1/I2C_5_CSI2 as GPIO */
	pinctrl_lpi2c8_gpio: lpi2c8gpiogrp {
		fsl,pins = <IMX95_PAD_GPIO_IO12__GPIO2_IO_BIT12	0x40001b9e>, /* I2C_3_DSI1/I2C_5_CSI2 SDA */
			   <IMX95_PAD_GPIO_IO13__GPIO2_IO_BIT13	0x40001b9e>; /* I2C_3_DSI1/I2C_5_CSI2 SCL */
	};

	/* Aquila SPI_2 */
	pinctrl_lpspi4: lpspi4grp {
		fsl,pins = <IMX95_PAD_GPIO_IO18__GPIO2_IO_BIT18	0x3fe>, /* SPI_2_CS   */
			   <IMX95_PAD_GPIO_IO19__LPSPI4_SIN	0x3fe>, /* SPI_2_MISO */
			   <IMX95_PAD_GPIO_IO20__LPSPI4_SOUT	0x3fe>, /* SPI_2_MOSI */
			   <IMX95_PAD_GPIO_IO21__LPSPI4_SCK	0x3fe>; /* SPI_2_CLK  */
	};

	/* Aquila SPI_1 */
	pinctrl_lpspi6: lpspi6grp {
		fsl,pins = <IMX95_PAD_GPIO_IO00__GPIO2_IO_BIT0	0x3fe>, /* SPI_1_CS   */
			   <IMX95_PAD_GPIO_IO01__LPSPI6_SIN	0x3fe>, /* SPI_1_MISO */
			   <IMX95_PAD_GPIO_IO02__LPSPI6_SOUT	0x3fe>, /* SPI_1_MOSI */
			   <IMX95_PAD_GPIO_IO03__LPSPI6_SCK	0x3fe>; /* SPI_1_CLK  */
	};

	/* Aquila SD_1_CD# as GPIO */
	pinctrl_sd1_cd_gpio: sd1cdgpiogrp {
		fsl,pins = <IMX95_PAD_SD2_CD_B__GPIO3_IO_BIT0	0x1100>; /* SD_1_CD# */
	};

	/* Aquila SD_1_PWR_EN */
	pinctrl_sd1_pwr_en: sd1pwrengpiogrp {
		fsl,pins = <IMX95_PAD_SD2_RESET_B__GPIO3_IO_BIT7	0x11e>; /* SD_1_PWR_EN */
	};

	/* Aquila UART_3 */
	pinctrl_uart1: uart1grp {
		fsl,pins = <IMX95_PAD_UART1_TXD__AONMIX_TOP_LPUART1_TX	0x31e>, /* UART_3_TXD */
			   <IMX95_PAD_UART1_RXD__AONMIX_TOP_LPUART1_RX	0x31e>; /* UART_3_RXD */
	};

	/* On-module eMMC */
	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <IMX95_PAD_SD1_CLK__USDHC1_CLK	0x158e>, /* eMMC_CLK    */
			   <IMX95_PAD_SD1_CMD__USDHC1_CMD	0x138e>, /* eMMC_CMD    */
			   <IMX95_PAD_SD1_DATA0__USDHC1_DATA0	0x138e>, /* eMMC_DATA0  */
			   <IMX95_PAD_SD1_DATA1__USDHC1_DATA1	0x138e>, /* eMMC_DATA1  */
			   <IMX95_PAD_SD1_DATA2__USDHC1_DATA2	0x138e>, /* eMMC_DATA2  */
			   <IMX95_PAD_SD1_DATA3__USDHC1_DATA3	0x138e>, /* eMMC_DATA3  */
			   <IMX95_PAD_SD1_DATA4__USDHC1_DATA4	0x138e>, /* eMMC_DATA4  */
			   <IMX95_PAD_SD1_DATA5__USDHC1_DATA5	0x138e>, /* eMMC_DATA5  */
			   <IMX95_PAD_SD1_DATA6__USDHC1_DATA6	0x138e>, /* eMMC_DATA6  */
			   <IMX95_PAD_SD1_DATA7__USDHC1_DATA7	0x138e>, /* eMMC_DATA7  */
			   <IMX95_PAD_SD1_STROBE__USDHC1_STROBE	0x158e>; /* eMMC_STROBE */
	};

	pinctrl_usdhc1_200mhz: usdhc1-200mhzgrp {
		fsl,pins = <IMX95_PAD_SD1_CLK__USDHC1_CLK	0x15fe>, /* eMMC_CLK    */
			   <IMX95_PAD_SD1_CMD__USDHC1_CMD	0x13fe>, /* eMMC_CMD    */
			   <IMX95_PAD_SD1_DATA0__USDHC1_DATA0	0x13fe>, /* eMMC_DATA0  */
			   <IMX95_PAD_SD1_DATA1__USDHC1_DATA1	0x13fe>, /* eMMC_DATA1  */
			   <IMX95_PAD_SD1_DATA2__USDHC1_DATA2	0x13fe>, /* eMMC_DATA2  */
			   <IMX95_PAD_SD1_DATA3__USDHC1_DATA3	0x13fe>, /* eMMC_DATA3  */
			   <IMX95_PAD_SD1_DATA4__USDHC1_DATA4	0x13fe>, /* eMMC_DATA4  */
			   <IMX95_PAD_SD1_DATA5__USDHC1_DATA5	0x13fe>, /* eMMC_DATA5  */
			   <IMX95_PAD_SD1_DATA6__USDHC1_DATA6	0x13fe>, /* eMMC_DATA6  */
			   <IMX95_PAD_SD1_DATA7__USDHC1_DATA7	0x13fe>, /* eMMC_DATA7  */
			   <IMX95_PAD_SD1_STROBE__USDHC1_STROBE	0x15fe>; /* eMMC_STROBE */
	};

	/* Aquila SD_1 */
	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <IMX95_PAD_SD2_CLK__USDHC2_CLK	0x158e>, /* SD_1_CLK */
			   <IMX95_PAD_SD2_CMD__USDHC2_CMD	0x138e>, /* SD_1_CMD */
			   <IMX95_PAD_SD2_DATA0__USDHC2_DATA0	0x138e>, /* SD_1_D0  */
			   <IMX95_PAD_SD2_DATA1__USDHC2_DATA1	0x138e>, /* SD_1_D1  */
			   <IMX95_PAD_SD2_DATA2__USDHC2_DATA2	0x138e>, /* SD_1_D2  */
			   <IMX95_PAD_SD2_DATA3__USDHC2_DATA3	0x138e>; /* SD_1_D3  */
	};

	pinctrl_usdhc2_200mhz: usdhc2-200mhzgrp {
		fsl,pins = <IMX95_PAD_SD2_CLK__USDHC2_CLK	0x15fe>, /* SD_1_CLK */
			   <IMX95_PAD_SD2_CMD__USDHC2_CMD	0x13fe>, /* SD_1_CMD */
			   <IMX95_PAD_SD2_DATA0__USDHC2_DATA0	0x13fe>, /* SD_1_D0  */
			   <IMX95_PAD_SD2_DATA1__USDHC2_DATA1	0x13fe>, /* SD_1_D1  */
			   <IMX95_PAD_SD2_DATA2__USDHC2_DATA2	0x13fe>, /* SD_1_D2  */
			   <IMX95_PAD_SD2_DATA3__USDHC2_DATA3	0x13fe>; /* SD_1_D3  */
	};

	pinctrl_usdhc2_sleep: usdhc2-sleepgrp {
		fsl,pins = <IMX95_PAD_SD2_CLK__USDHC2_CLK	0x400>, /* SD_1_CLK */
			   <IMX95_PAD_SD2_CMD__USDHC2_CMD	0x400>, /* SD_1_CMD */
			   <IMX95_PAD_SD2_DATA0__USDHC2_DATA0	0x400>, /* SD_1_D0  */
			   <IMX95_PAD_SD2_DATA1__USDHC2_DATA1	0x400>, /* SD_1_D1  */
			   <IMX95_PAD_SD2_DATA2__USDHC2_DATA2	0x400>, /* SD_1_D2  */
			   <IMX95_PAD_SD2_DATA3__USDHC2_DATA3	0x400>; /* SD_1_D3  */
	};
};
